/* ===== GLOBAL ===== */
*{
  box-sizing:border-box;
}
body{
  margin:0;
  font-family:'Segoe UI', sans-serif;
  background:#f1f5f9;
  color:#020617;
}

/* ===== HEADER ===== */
header{
  background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  padding:35px 15px;
  text-align:center;
  color:white;
}

/* 3D LOGO */
.logo{
  font-size:40px;
  font-weight:900;
  color:#38bdf8;
  letter-spacing:1px;
  text-shadow:
    1px 1px 0 #020617,
    2px 2px 0 #020617,
    3px 3px 0 #020617,
    4px 4px 8px rgba(0,0,0,0.6);
}
header p{
  margin-top:8px;
  opacity:0.9;
  font-size:15px;
}

/* ===== NAVBAR ===== */
nav{
  background:#020617;
  padding:12px;
  text-align:center;
}
nav a{
  color:white;
  margin:0 12px;
  text-decoration:none;
  font-weight:600;
}
nav a:hover{
  color:#38bdf8;
}

/* ===== MARQUEE ===== */
